* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* Header section */
.nav-link.activs {
  background-color: #00793d;
  color: #fff !important;
  border-color: transparent;
  border-radius: 1rem 0rem 1rem 0;
}

.nav-link {
  color: rgb(2, 136, 6);
  border: none;
  margin-left:20px ;

}

.navbar-nav{
  margin: 0 auto;
}

@media (min-width: 320px) and (max-width: 768px) {
  .nav-link.activs {
    padding: 15px;
  }
}

.nav-link:hover {
  background-color: #00793d;
  color: #fff !important;
  border-color: transparent;
  border-radius: 1rem 0 1rem 0;
}


/* Hero section */
.hero-text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
}


@media (min-width: 320px) and (max-width: 425px) {
  .hero-text h1 {
    font-size: 1.3rem;
  }

  .hero-text h6 {
    font-size: 0.9rem;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .hero-text h1 {
    font-size: 2rem;
  }

  .hero-text h6 {
    font-size: 1rem;
  }
}

.number-box {
  width: 40px;
  height: 40px;
  background-color: #790016;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}